__pycache__/
*.py[cod]
.venv/
.env
env/
venv/
*.egg-info/
dist/
build/
data/
/data/
/dagster_home/storage/*
/dbt_project/target/*
.telemetry/
.DS_Store
.pytest_cache/
*.sqlite3
*.db
*.duckdb
*.log
/.idea/
.vscode/
